*.vcd
*.sim
a.out
obj_dir
/test/output/*
!/test/output/.gitkeep
/test/simulator/*
!/test/simulator/.gitkeep
!/test/waveforms/.gitkeep
/rtl/module_tests_outputs/*
!/rtl/module_tests_outputs/.gitkeep
.vscode
log.txt
stdout.txt